/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* top */
 * {
   font-size: 62.5%;
   letter-spacing: .5rem;
 }
 body {
   background-color: #1d577e;
 }
 h1, p, a {
   color: #dca682;
 }
 h1 {
   font-size: 4.5rem;
 }
 span {
   color: #996b4d;
   font-size: 4.5rem;
 }
 a {
   text-decoration: none;
   font-size: 1.7rem;
   display: block;
   text-align: center;
   margin: 30px auto;
 }

 /* 回収金入力編集画面 */
 input {
   font-size: 1.5rem;
 }
 .pagetitle {
   font-size: 3rem;
 }
 .flash {
   color: rgb(139, 70, 70);
 }
 .main {
   text-align: center;
 }
 .input-field {
   margin: 50px auto 100px;
   font-size: 2.5rem;
 }